# VS Code 설정
.vscode
learningjs.code-workspace

# npm 디버그 기록
npm-debug.log*

# 프로젝트 의존성
node_modules

# 임시 파일
*.tmp
*~

# 트랜스컴파일된 파일
dist
es6/dist

# package-lock.json
package-lock.json

# sonarqube
.sonarlint